.para {
  width: 30%;
  height: 20%;
}

.box {
  width: 400px;
  height: 300px;
  background-color: red;
}

.sbox {
  width: 50%;
  height: 50%;
  background-color: blue;
}

.para2 {
  width: 70%;
  height: 40%;
}
